@page "/"

<div class="home-page">
    <h1 class="main-title">Deadline Dynamo</h1>
   
    <p>Fueling Productivity and Keeping Projects on Track</p>
</div>

@code {
    // Add any necessary C# code here
}
